/* Styles for Footer component */

.footer-container {
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    color: #4a4a4a;
    position: relative;
  }
  
  .footer-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
  }
  
  .footer-logo {
    margin-bottom: 1rem;
  }
  
  .footer-sections {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .footer-sections div {
    margin-bottom: 1rem;
  }
  
  .footer-sections h3 {
    font-weight: 600;
  }
  
  .footer-sections ul {
    text-align: center;
  
    li {
      margin: 12px 0px;
  
    }
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer-image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 150px;
    /* Adjust the size as necessary */
  }
  
  @media (min-width: 768px) {
    .footer-sections {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
    }
  
    .footer-sections div {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  
    .footer-sections ul {
      text-align: left;
  
      li {
        margin: 18px 0px;
  
      }
    }
  
    .footer-bottom {
      flex-direction: row;
    }
  }
  
  