.floating-input::placeholder {
    color: white !important;
    opacity: 1 !important;
    /* Ensures the color applies */
  }
  
  .floating-input:focus+.floating-label,
  .floating-input:not(:placeholder-shown)+.floating-label {
    transform: translateY(-1.5rem);
    font-size: 0.75rem;
    color: white;
  }
  
  .floating-label {
    transform-origin: left top;
    pointer-events: none;
    left: 0.75rem;
    top: 0.75rem;
    transition: transform 0.2s ease-out, font-size 0.2s ease-out, color 0.2s ease-out;
  }